
* {
  box-sizing: border-box;
}

.main-container{
  background-color: yellow;
  width: 50%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.boxes1 {
  
  width: 250px;
  height: 180px;
  border-radius: 5%;
  background-color: hsl(300, 43%, 22%);
  padding: 25px;
  margin: 15px;
}
.boxes2 {
  
  top: 20px;
  width: 250px;
  height: 180px;
  border-radius: 5%;
  background-color: hsl(300, 43%, 22%);
  padding: 25px;
  margin: 15px;
}
.boxes3 {
  
  top: 40px;
  width: 250px;
  height: 180px;
  border-radius: 5%;
  background-color: hsl(300, 43%, 22%);
  padding: 25px;
  margin: 15px;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center;
  border-radius: 50%;
}
.profile {
  display: flex;
  align-items: center;
}
.user-name {
  display: flex;
  flex-direction: column;
}
.reviews p {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-family: 'League Spartan', sans-serif;
}
.stars {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  padding-bottom: 5rem;
  background-color: skyblue;
  width: 50%;
}
body {
  padding: 100px;
  background-color: white;
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 50%, 50%;
}
.stars-given-1, .stars-given-2, .stars-given-3 {
  display: flex;
  justify-content: space-around;
  
  background-color: #f0ebf0;
  width: 350px;
  padding: 10px;
  
  border-radius: 10px;
  font-size: 18px;
  
 }
 
/* .stars-given-2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #f0ebf0;
  width: 350px;
  padding: 10px;
  margin-right: 100px;
  border-radius: 10px;
  font-size: 18px;
  
}
.stars-given-3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #f0ebf0;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'League Spartan', sans-serif;
  
} */ */
.ratings {
  margin-top: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.heading-1 h1 {
  font-family: 'League Spartan', sans-serif;
  top: 45px;
  font-weight: 700px;
  left: 90px;
  font-size: 3em;
  margin: auto;
  color: hsl(300, 43%, 22%);
  
}
.heading-1 p {
  font-family: 'League Spartan', sans-serif;
  margin: auto;
  color: hsl(303, 10%, 53%);
  padding-top: 1rem;
}


