* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--White);
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 50%, 50%;
}
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 10rem;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#h1 {
  font-size: 4rem;
  color: var(--Very-Dark-Magenta);
}

#P {
  position: relative;
  bottom: 15%;
  font-size: 20px;
  color: var(--Dark-Grayish-Magenta);
  line-height: 25px;
}

.Customer-reviews {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-1,
.box-2,
.box-3 {
  height: 80%;
  width: 30%;
  border-radius: 10px;
  background-color: var(--Very-Dark-Magenta);
  padding: 25px;
}

.box-1 {
  align-self: flex-start;
}

.box-3 {
  align-self: flex-end;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
}
.user-name {
  display: flex;
  flex-direction: column;
}

.reviews p {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-family: "League Spartan", sans-serif;
  line-height: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 50px;
}

.rating-box-1,
.rating-box-2,
.rating-box-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  width: 85%;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: var(--Very-Dark-Magenta);
}

.rating-box-1 {
  align-self: flex-start;
}
.rating-box-2 {
  align-self: center;
}

.rating-box-3 {
  align-self: flex-end;
}

.reviews {
  font-size: 20px;
}
